<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="icon" type="image/png" href="logo.png">
  </head>

  <style>
    /* main */
    body {
        padding: 30px;
    }

    h1, h2, h3, h4, h5 {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        font-weight: bold;
        text-decoration: none;
    }

    h1 {
        font-size: 14pt;
    }

    h5 {
        font-size: 12pt;
    }

    p {
        color: black;
        font-family: Arial, sans-serif;
        font-style: normal;
        text-decoration: none;
        font-size: 10pt;
        margin: 0;
    }

    table, tbody {
        vertical-align: top;
        overflow: visible;
    }

    @media print {
        td {
            -webkit-print-color-adjust: exact; /* For Chrome */
            print-color-adjust: exact; /* For other browsers */
        }
    }
  </style>

  <body>
    <div class="raport">
        <table style="width: 100%; border-collapse: collapse;">
            <!-- Header Table -->
            <table class="header-table" style="width: 100%; border-collapse: collapse;">
                <tr>
                    <td style="text-align: left; vertical-align: middle;">
                        <img src="tut-wuri-handayani.png" alt="" width="80px" height="80px">
                    </td>
                    
                    <td style="text-align: center; vertical-align: middle;">
                        <h1>
                            GLOBAL INDONESIA SCHOOL <br>
                            <span style="font-weight: normal; font-size: 13pt; padding-top: 7px;">
                                DINAS PENDIDIKAN KABUPATEN SERANG 
                            </span>
                        </h1>
                    </td>
        
                    <td style="text-align: right; vertical-align: middle;">
                        <img src="logo.png" alt="" width="80px" height="80px">
                    </td>
                </tr>
            </table>
        
            <!-- Body Table -->
            <table class="body-table" style="width: 100%; border-collapse: collapse; margin-top: 50pt;">
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        <h1 style="font-size: 18pt; ">
                            STUDENT REPORT CARD <br>
                        </h1>
                    </td>
                </tr>
                <tr class="name">
                    <tr >
                        <td style="text-align: center; vertical-align: middle; padding-top: 40pt">
                            <h5 style="font-weight: 500;"> 
                            Student Name
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 10pt">
                            <p style="font-weight: 400;">Saddad Nabbil</p>
                        </td>
                    </tr>
                </tr>
                <tr class="nis">
                    <tr >
                        <td style="text-align: center; vertical-align: middle; padding-top: 20pt">
                            <h5 style="font-weight: 500;"> 
                            Student Identity Number
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 4pt">
                            <p style="font-weight: 400; font-size: 9pt;"><i>( NIS )</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 10pt">
                            <p style="font-weight: 400;">123123123</p>
                        </td>
                    </tr>
                </tr>
                <tr class="nisn">
                    <tr >
                        <td style="text-align: center; vertical-align: middle; padding-top: 20pt">
                            <h5 style="font-weight: 500;"> 
                            National Student Identity Number
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 4pt">
                            <p style="font-weight: 400; font-size: 9pt;"><i>( NISN )</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 10pt">
                            <p style="font-weight: 400;">123123123</p>
                        </td>
                    </tr>
                </tr>
                <tr class="identity">
                    <tr >
                        <td style="text-align: center; vertical-align: middle; padding-top: 20pt">
                            <h5 style="font-weight: 500;"> 
                            National School Identity Number
                            </h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 4pt">
                            <p style="font-weight: 400; font-size: 9pt;"><i>( NPSN )</i></p>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; vertical-align: middle; padding-top: 10pt">
                            <p style="font-weight: 400;">123123123</p>
                        </td>
                    </tr>
                </tr>
            </table>
        
            <!-- Footer Table -->
            <table class="footer-table" style="margin-top: 40pt; position: fixed;">
                <tr >
                    <td style="text-align: center; vertical-align: middle; padding-top: 20pt">
                        <h5 style="font-weight: 500;"> 
                            Address
                        </h5>
                    </td>
                </tr>
                <tr >
                    <td style="text-align: center; vertical-align: middle;">
                        <p style="font-weight: 400; line-height: 1.5;"> 
                            Perumahan Emerald Lake, Jl. Raya Tasikardi <br>Pelamunan, Kramatwatu, Serang-Banten, 42161<br>
                            Telp. (021) - 50106770
                        </p>
                    </td>
                </tr>
            </table>
        </table>
        
    </div>
  </body>
</html>