<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>testing</title>
      <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
      <!-- <link rel="stylesheet" type="text/css" href="eraport.css"> -->

      <style>
      body {
         padding: 20px;
      }

      * {
         margin: 0;
         padding: 0;
         text-indent: 0; 
      }

      h1, .h2, h3, .s1{
         color: black;
         font-family: Arial, sans-serif;
         font-style: normal;
         font-weight: bold;
         text-decoration: none;
      }

      h1 {
         font-size: 11pt;
      }

      .h2 {
         font-size: 10pt;
      }

      p {
         color: black;
         font-family: Arial, sans-serif;
         font-style: normal;
         text-decoration: none;
         font-size: 6pt;
         margin: 0;
      }

      h3, .s1, .s2, .s4, .s6, .s7 {
         font-size: 8pt;
      }

      .s3 {
         color: black;
         font-family: Arial, sans-serif;
         font-style: italic;
         font-weight: normal;
         text-decoration: none;
         font-size: 6pt;
      }

      .s5 {
         font-size: 7pt;
      }

      table, tbody {
         vertical-align: top;
         overflow: visible;
      }

      </style>
   </head>
   <body>
      <table class="header-table" style="width: 100%; border-collapse: collapse">
         <tr>
             <td class="no-indent left-align">
                 <img src="./assets/dist/img/logo.png" alt="" width="80px" height="80px">
             </td>
             
             <td class="title-center">
                 <h1 class="center-align pad-179 pad-5 no-indent">
                     GLOBAL INDONESIA SCHOOL <br>
                     FIRST SEMESTER PROGRESS REPORT <br> 
                     2023 / 2024
                 </h1>
                 <p class="center-align pad-126 line-height-123">
                     Address : Perumahan Emerald Lake, Jl. Raya Tasikardi, Pelamunan, Kramatwatu, Serang-Banten, 42161 <br> 
                     Kabupaten Serang, Banten. Phone : 0254-7941564, 081-1143-5499
                 </p>
             </td>
             
             <td class="no-indent right-align">
                 <img src="./assets/dist/img/tut-wuri-handayani.png" alt="" width="80px" height="80px">
             </td>
         </tr>
     </table>

     <!-- information name -->
     <table class="information-container ml-5 pad-2-1">
       <tr>
         <td><h3>Name</h3></td>
         <td><h3>: ALICIA ZALFA PRISMAWARSYAH</h3></td>
         <td><h3>Class</h3></td>
         <td><h3>: JHS-7A</h3></td>
       </tr>
       <tr>
         <td><h3>NIS</h3></td>
         <td><h3>: 232407041</h3></td>
         <td><h3>NISN</h3></td>
         <td><h3>: 0113099396</h3></td>
       </tr>
     </table>

     <!-- Nilai raport -->
     <table class="ml-5" style="border-collapse:collapse;margin-left:5.44pt" cellspacing="0">

        <!-- Heading table -->
        <tr style="height:14pt">
           <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p style="text-indent: 0pt;text-align: left;">
                 <br />
              </p>
              <p class="s1" style="padding-left: 3pt;text-indent: 0pt;text-align: left;">No</p>
              <p style="text-indent: 0pt;text-align: left;">
                 <br />
              </p>
           </td>
           <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p style="text-indent: 0pt;text-align: left;">
                 <br />
              </p>
              <p class="s1" style="padding-left: 61pt;padding-right: 61pt;text-indent: 0pt;text-align: center;">Subject</p>
           </td>
           <td style="width:56pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p class="s1" style="padding-top: 2pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">Minimum Passing Mark</p>
           </td>
           <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p class="s1" style="padding-top: 2pt;padding-left: 13pt; padding-right: 13pt;text-align: center;">Nilai Akhir</p>
           </td>

           <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p class="s1" style="padding-top: 6pt;text-align: center;">Predikat</p>
           </td>
           <td style="width:187pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#999999">
              <p class="s1" style="padding-top: 6pt;text-align: center;">Capaian Pembelajaran</p>
           </td>
        </tr>

        <!-- {{-- Content Table --}} -->
        <tr style="height:25pt">
           <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 4pt;text-indent: 0pt;text-align: right;">1.</p>
           </td>
           <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 3pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Religious and Ethical Education</p>
              <p class="s3" style="padding-top: 2pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Pendidikan Agama Budi Pekerti</p>
           </td>
           <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 4pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">75</p>
           </td>
           <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 4pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">75</p>
           </td>
           <td style="width:48pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 4pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">A</p>
           </td>
           <td style="width:187px;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
              <p class="s2" style="padding-top: 4pt;padding-bottom: 7pt;padding-left: 4pt; padding-right: 3pt;text-indent: 0pt; line-height: 1.3;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro assumenda soluta nostrum quam vero.</p>
           </td>

        </tr>
     </table>

      <p>         
         <br />
      </p>

      <!-- Extracurricular -->
      <table style="border-collapse:collapse;margin-left:5.44pt" cellspacing="0">
         <tr style="height:14pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 2pt;padding-right: 1pt;text-indent: 0pt;text-align: center;">No</p>
            </td>
            <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 61pt;padding-right: 61pt;text-indent: 0pt;text-align: center;">Extracurricular</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">Grade</p>
            </td>
            <td style="width:284pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 100pt;padding-right: 99pt;text-indent: 0pt;text-align: center;">Remarks</p>
            </td>
         </tr>
         <tr style="height:12pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">1</p>
            </td>
            <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">English</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">B</p>
            </td>
            <td style="width:284pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">GOOD</p>
            </td>
         </tr>
         <tr style="height:12pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">2</p>
            </td>
            <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Pramuka</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">A</p>
            </td>
            <td style="width:284pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">VERY GOOD</p>
            </td>
         </tr>
      </table>

      <p>         
         <br />
      </p>

      <!-- Achievement -->
      <table style="border-collapse:collapse;margin-left:5.44pt" cellspacing="0">
         <tr style="height:14pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 2pt;padding-right: 1pt;text-indent: 0pt;text-align: center;">No</p>
            </td>
            <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 61pt;padding-right: 61pt;text-indent: 0pt;text-align: center;">Achievement</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">Level</p>
            </td>
            <td style="width:284pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 100pt;padding-right: 99pt;text-indent: 0pt;text-align: center;">Name of Competition</p>
            </td>
         </tr>
         <tr style="height:12pt">
            <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">-</p>
            </td>
            <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
            <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">-</p>
            </td>
            <td style="width:284pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
               <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">-</p>
            </td>
         </tr>
      </table>

      <p>         
         <br />
      </p>

      <div class="bottom-table">
         <!-- Absences -->
         <table style="border-collapse:collapse; margin-left: 5.44pt;" cellspacing="0">
            <tr style="height:14pt">
               <td style="width:198pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="2" bgcolor="#CCCCCC">
                  <p class="s1" style="padding-top: 1pt;padding-left: 79pt;padding-right: 79pt;text-indent: 0pt;text-align: center;">Absences</p>
               </td>
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" bgcolor="#CCCCCC">
                  <p class="s1" style="padding-top: 1pt;padding-left: 1pt;text-indent: 0pt;text-align: center;">Days</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 5pt;text-indent: 0pt;text-align: right;">1</p>
               </td>
               <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Sick</p>
               </td>
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">3</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 5pt;text-indent: 0pt;text-align: right;">2</p>
               </td>
               <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Permit</p>
               </td>
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">0</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 5pt;text-indent: 0pt;text-align: right;">3</p>
               </td>
               <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 2pt;text-indent: 0pt;text-align: left;">Without Permission</p>
               </td>
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: center;">0</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:17pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p style="text-indent: 0pt;text-align: left;">
                     <br />
                  </p>
               </td>
               <td style="width:181pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p style="text-indent: 0pt;text-align: left;">
                     <br />
                  </p>
               </td>
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p style="text-indent: 0pt;text-align: left;">
                     <br />
                  </p>
               </td>
            </tr>
         </table>

         <!-- Grading Scale -->
         <table style="border-collapse:collapse; margin-left: 4pt;" cellspacing="0">
            <tr style="height:14pt">
               <td style="width:278pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3" bgcolor="#CCCCCC">
                  <p class="s1" style="padding-top: 1pt;padding-left: 110pt;padding-right: 110pt;text-indent: 0pt;text-align: center;">Grading Scale</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 25pt;text-indent: 0pt;text-align: right;">A</p>
               </td>
               <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 19pt;text-indent: 0pt;text-align: right;">80.00 - 100.00</p>
               </td>
               <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 50pt;padding-right: 49pt;text-indent: 0pt;text-align: center;">Very Good</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 25pt;text-indent: 0pt;text-align: right;">B</p>
               </td>
               <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">70.00 - 79.99</p>
               </td>
               <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 50pt;padding-right: 49pt;text-indent: 0pt;text-align: center;">Good</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 25pt;text-indent: 0pt;text-align: right;">C</p>
               </td>
               <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 21pt;text-indent: 0pt;text-align: right;">60.00 - 69.99</p>
               </td>
               <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 50pt;padding-right: 49pt;text-indent: 0pt;text-align: center;">Fair</p>
               </td>
            </tr>
            <tr style="height:12pt">
               <td style="width:57pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 25pt;text-indent: 0pt;text-align: right;">D</p>
               </td>
               <td style="width:85pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-right: 23pt;text-indent: 0pt;text-align: right;">0.00 - 59.99</p>
               </td>
               <td style="width:136pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt">
                  <p class="s5" style="padding-top: 1pt;padding-left: 50pt;padding-right: 49pt;text-indent: 0pt;text-align: center;">Poor</p>
               </td>
            </tr>
         </table>
      </div>

      <p>         
         <br />
      </p>

      <!-- Homeroom Teacher's Comments -->
      <table style="border-collapse:collapse; margin-left: 5.44pt;" cellspacing="0">
         <tr style="height:14pt">
            <td style="width:722px;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3" bgcolor="#CCCCCC">
               <p class="s1" style="padding-top: 1pt;padding-left: 110pt;padding-right: 110pt;text-indent: 0pt;text-align: center;">Homeroom Teacher&#39;s Comments</p>
            </td>
         </tr>
         <tr style="height:14pt">
            <td style="width:278pt;border-top-style:solid;border-top-width:1pt;border-left-style:solid;border-left-width:1pt;border-bottom-style:solid;border-bottom-width:1pt;border-right-style:solid;border-right-width:1pt" colspan="3">
               <p class="s5" style="padding-top: 1pt;text-indent: 0pt;text-align: left; padding-left: 2pt;">While Alicia is quiet in nature, encouraging him to engage more actively during lessons would be beneficial. His insights, when shared, could enrich the class discussions?</p>
            </td>
         </tr>
      </table>

      <p>         
         <br />
      </p>

      <!-- Signature Table -->
      <table class="signature" style="width: 100%;">
         <!-- Top Section -->
         <tr>
            <!-- Parent's Section -->
            <td style="width: 50%; text-align: center;">
               <p class="s6" style="padding-top: 13pt; text-align: center;">Parent's / Guardian's Signature</p>
               <p class="s7" style="padding-top: 44pt; text-align: center; border-bottom: 0.5px solid black; display: inline-block; max-width: 200px; width: 120px; margin: 0 auto; "></p>
            </td>
            <!-- Teacher's Section -->
            <td style="width: 50%; text-align: center;">
               <p class="s6" style="text-align: center; line-height: 1.5">Serang, January 09, 2024<br>Homeroom Teacher</p>
               <p class="s7" style="padding-top: 35pt; text-align: center; border-bottom: 0.5px solid black; display: inline-block; width: auto;">RIKI FIRMANSYAH, A.MD.</p>
            </td>
         </tr>
         <!-- Bottom Section -->
         <tr>
            <td colspan="2" style="text-align: center; margin-top: 10px;">
               <p class="s6" style="padding-top: 6pt; text-align: center;">Principal's Signature</p>
               <p class="s7" style="padding-top: 35pt; text-align: center; border-bottom: 0.5px solid black; display: inline-block; width: auto;">IVAN SENEVIRATNE, M.ED</p>
            </td>
         </tr>
      </table>
   </body>
</html>